<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <title>Panda Login</title>
  </head>
  <body>
    <div class="login-container">
      <form method="post" class="login-form">
        <span>
          <label for="username" class="visually-hidden">Username</label>
          <input type="text" id="username" name="username" required />
        </span>
        <span>
          <label for="password" class="visually-hidden">Password</label>
          <input type="password" id="password" name="password" required />
        </span>
        <button type="submit" formaction="/login">Sign In</button>
      </form>
    </div>
  </body>
</html>
